form#login-form {
  width: 100%;
}

form#login-form img {
  display: block;
  width: 90px;
  margin: 0 auto;
  margin-bottom: 30px;
}

form#login-form > div {
  padding: 0 30px;
  margin-bottom: 15px;
}

form#login-form > div > label {
  display: none;
}

form#login-form > div > input {
  background-color: rgb(239, 239, 238);
  outline: none;
}

form#login-form > div.buttonval > button {
  width: 100%;
  padding: 20px 0;
  border: none;
  background-color: rgba(77, 145, 255);
  color: #fff;
  font-size: 16px;
  opacity: 0.15;
}

form#login-form > div.buttonval > button.active {
  opacity: 1;
}
